// WHITE AND GRAY COLORS
$white: #ffffff;
$white-rgb: 255, 255, 255;

$black: #222222;
$black-rgb: rgb(34, 34, 34);

$orange: #FF5733;
$orange-rgb: rgb(255, 87, 51);

$text-color: #888888;
$text-color-rgb: rgb(136, 136, 136);

$bg-gray: #F9F9F9;
$bg-gray-rgb: rgb(249, 249, 249);

$bdr-color: #F1F1F1;
$bdr-color-rgb: rgb(241, 241, 241);

$exp-bdr-color: #E2E2E2;
$exp-bdr-color-rgb: rgb(226, 226, 226);

$exp-d-color: #555555;
$exp-d-color-rgb: rgb(85, 85, 85);

$exp-t-color: #777777;
$exp-t-color-rgb: rgb(119, 119, 119);

// FONTS
$primary-font: 'Roboto', sans-serif;
$secondery-font: 'Noticia Text', serif;
