@import 'customs';

// IMPORT SECTIONS
@import 'sections/navber';
@import 'sections/banner';
@import 'sections/company-logo.scss';
@import 'sections/global-net';
@import 'sections/services';
@import 'sections/experience';
@import 'sections/testimonial';
@import 'sections/projects';
@import 'sections/footer';

// Default styles
body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;

}
h1, h2, h3, h4, h5 {
    font-family: $secondery-font;
    font-weight: 700;
    color: $black;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 48px;
    line-height: 63px;
}
a {
    text-decoration: none;
}
ul, li {
    margin: 0;
    padding: 0;
}
p {
    font-size: 18px;
    color: $text-color;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.page-btn {
    color: $white;
    background: $orange;
    font-size: 16px;
    line-height: 15px;
    padding: 19px 40px 18px 40px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid transparent;
}
.page-btn:hover {
    background: $white;
    color: $orange;
    border: 1px solid $orange;
    transition: .3s ease-in-out all;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    z-index: 2147483647;
    display: block;
    background: $orange;
    color: $white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 9px;
    font-size: 30px;
    border-radius: 50%;
}

.site-header {
    transition: all .3s;
    background: $white;
    z-index: 999;
    position: sticky; 
  }
  .sticky {
    box-shadow: 0 13px 22px -5px rgb(0 0 0 / 6%);
    position: sticky;
    top: 0;
    width: 100%;
    background: $white;
    transition: all .3s;
  }